<div id="members" class="clearfix pull-left span12">
    <div class="span20">
        <br>
        <div class="row">
            <div class="span4 pull-left">
                Select members to add to the group

                Toggle all <input type="checkbox"   ng-model="masterOne" ><br/>
            </div>
            <div class="span4 pull-right">
                <input type="text" ng-model="search" class="search-query search-query-size" />
            </div>
        </div>

        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Add</th>
                    <th>Surname</th>
                    <th>First Name</th>
                    <th>Phone Number</th>
                    <th>Location</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-hide="members.length">
                    <td colspan="5">No data in the database.</td>
                </tr>
                <tr ng-repeat="member in members | orderBy:'member_id':true">
                    <td> {{(currentPage - 1) * maxSize + $index + 1}}.&nbsp;
                        <input type="checkbox" name="checkSlave[]"  value="{{member.member_id}}"
                               ng-model="masterOne" >
                    </td>
                    <td>{{member.sur_name}}</td>
                    <td>{{member.first_name}}</td>
                    <td>{{member.phone_number}}</td>
                    <td>{{member.location}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div data-pagination="" data-num-pages="noOfPages"
             data-current-page="currentPage" data-max-size="maxSize"
             data-boundary-links="true">
        </div>
        <div ng-show="members.length" class="row">
            <div class="span12 pull-left">
                <button type="submit" ng-click="addMembers()" class="btn">Add selected members</button>
            </div>
        </div>
    </div>
</div>

