<div id="groups" class="clearfix pull-left span12">
    <div class="span20">
        <br>
        <div class="row">
            <div class="span4 pull-left">
                <a href="#/createGroup">Create Group</a>
            </div>
            <div class="span4 pull-right">
                <input type="text" ng-model="search" class="search-query search-query-size" />
            </div>
        </div>
        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Group Name</th>
                    <th>Describtion</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-hide="groups.length">
                    <td colspaname,describtion,date_created,created_by,uuid;n="5">No data in the database.</td>
                </tr>
                <tr ng-repeat="group in groups | orderBy:'group_id':true">
                    <td><a href="#/group/{{group.uuid}}">{{(currentPage - 1) * maxSize + $index + 1}}.&nbsp;<i class=icon-eject></i></a></td>
                    <td>{{group.name}}</td>
                    <td>{{group.describtion}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div data-pagination="" data-num-pages="noOfPages"
             data-current-page="currentPage" data-max-size="maxSize"
             data-boundary-links="true">

        </div>
    </div>
</div>

