<div id="member" class="clearfix pull-left span12">

    <div ng-switch="mode" class="span20">
        <br>
        <div ng-switch-when="view">

            <div class="row">
                <input class="span10" placeholder="Group name ..." type="text"
                       disabled="" ng-model="group.name">
            </div>
            <div class="row">
                <textarea class="span10" placeholder="Describtion ..." rows="5"
                       disabled="" ng-model="group.describtion" input type="text">
                </textarea>
            </div>
            <div class="row">
                <button type="submit" ng-click="textMode()" class="btn" >Send Message</button>
                <button type="submit" ng-click="memberAdd(group.group_id)" class="btn" >Add Member</button>
                <button type="submit" ng-click="memberDrop(group.group_id)" class="btn" >Remove Member</button>
                <button type="submit" ng-click="edit()" class="btn" >Edit</button>
                <button type="submit" ng-click="cancel()" class="btn" data-icon="delete">Close</button>

            </div>
        </div>

        <div ng-switch-when="noTextView">
            <div class="row">
                <input class="span10" placeholder="Group name ..." type="hidden" disabled=""
                       ng-model="group.group_id">
            </div>
            <div class="row">
                <input class="span10" placeholder="Group name ..." type="text"
                       disabled="" ng-model="group.name">
            </div>
            <div class="row">
                <textarea class="span10" placeholder="Describtion ..." rows="5"
                          disabled="" ng-model="group.describtion" input type="text">
                </textarea>
            </div>
            <div class="row">
                <button type="submit" ng-click="textMode()" class="btn" disabled="" >Send Message</button>
                <button type="submit" ng-click="edit()" class="btn" >Edit</button>
                <button type="submit" ng-click="cancel()" class="btn" data-icon="delete">Close</button>
            </div>
            <label style="color:blue">Please add members to activate group text feature</label>
        </div>

        <div ng-switch-when="edit">
            <form id="consult">
                <div class="row">
                    <input class="span10" placeholder="Group name ..." type="text" required
                           ng-model="group.name">
                </div>
                <div class="row">
                     <textarea class="span10" placeholder="Describtion ..." rows="5"
                               ng-model="group.describtion" input type="text" required>
                    </textarea>
                </div>
                <div class="row">
                    <button type="submit" ng-click="save(group)" class="btn">Save</button>
                    <button type="submit" ng-click="cancel()" class="btn">Cancel</button>
                </div>
                <span></span>
            </form>
        </div>

        <div ng-switch-when="text">
            <form id="text">
                <div class="row">
                    <input class="span10" placeholder="Group name ..." type="hidden" disabled=""
                           ng-model="group.group_id">
                </div>

                <div class="row">
                    <input class="span10" placeholder="Group name ..." type="text" disabled=""
                           ng-model="group.name">
                </div>

                <div class="row">
                   <textarea class="span10" placeholder="Text message ..." rows="5"
                             ng-model="group.text" input type="text" required>
                    </textarea>
                </div>
                <div class="row">
                    <button type="submit" ng-click="sendGroupText(group.group_id,group.text)" class="btn">Send</button>
                    <button type="submit" ng-click="cancel()" class="btn">Cancel</button>
                </div>
                <span></span>
            </form>
        </div>
    </div>
</div>
