<div id="members" class="clearfix pull-left span12">
    <div class="span20">
        <br>
        <div class="row">
            <div class="span4 pull-left">
                <a href="#/createMember">Create Member</a>
            </div>
            <div class="span4 pull-right">
                <input type="text" ng-model="search" class="search-query search-query-size" />
            </div>
        </div>
        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Surname</th>
                    <th>First Name</th>
                    <th>Phone Number</th>
                    <th>Location</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-hide="members.length">
                    <td colspan="5">No data in the database.</td>
                </tr>
                <tr ng-repeat="member in members | orderBy:'member_id':true">
                    <td><a href="#/member/{{member.uuid}}">{{(currentPage - 1) * maxSize + $index + 1}}.&nbsp;<i class=icon-eject></i></a></td>
                    <td>{{member.sur_name}}</td>
                    <td>{{member.first_name}}</td>
                    <td>{{member.phone_number}}</td>
                    <td>{{member.location}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div data-pagination="" data-num-pages="noOfPages"
             data-current-page="currentPage" data-max-size="maxSize"
             data-boundary-links="true">

        </div>
    </div>
</div>

