<div id="member" class="clearfix pull-left span12">

    <div ng-switch="mode" class="span20">
        <br>
        <div ng-switch-when="view">
            <div class="row">
                <input class="span10" placeholder="Member Surname ..." type="text"
                       disabled="" ng-model="member.sur_name">
            </div>
            <div class="row">
                <input class="span10" placeholder="Member First name ..." type="text"
                       disabled="" ng-model="member.first_name">
            </div>
            <div class="row">
                <input class="span10" placeholder="Member Phone number ..." type="text"
                       disabled="" ng-model="member.phone_number">
            </div>
            <div class="row">
                <input class="span10" placeholder="Member Location ..." type="text"
                       disabled="" ng-model="member.location">
            </div>
            <div class="row">
                <button type="submit" ng-click="textMode()" class="btn">Text</button>
                <button type="submit" ng-click="edit()" class="btn">Edit</button>
                <button type="submit" ng-click="cancel()" class="btn">Close</button>
            </div>
            <span></span>
        </div>
        <div ng-switch-when="edit">
            <form id="consult">
                <div class="row">
                    <input class="span10" placeholder="Member Surname ..." type="text" required
                           ng-model="member.sur_name">
                </div>
                <div class="row">
                    <input class="span10" placeholder="Member First name ..." type="text" required
                           ng-model="member.first_name">
                </div>
                <div class="row">
                    <input class="span10" placeholder="Member Phone number ..." type="text"  required
                           ng-model="member.phone_number">
                </div>
                <div class="row">
                    <input class="span10" placeholder="Member Location ..."  type="text" required
                           ng-model="member.location">
                </div>
                <div class="row">
                    <button type="submit" ng-click="save(member)" class="btn">Save</button>
                    <button type="submit" ng-click="cancel()" class="btn">Cancel</button>
                </div>
                <span></span>
            </form>
        </div>

        <div ng-switch-when="text">
            <form id="text">
                <div class="row">
                    <input class="span10" placeholder="Member Surname ..." type="text"
                          disabled=""  ng-model="member.sur_name">
                </div>
                <div class="row">
                    <input class="span10" placeholder="Member First name ..." type="text"
                          disabled="" ng-model="member.first_name">
                </div>
                <div class="row">
                    <input class="span10" placeholder="Member Phone number ..." type="text"
                          disabled="" ng-model="member.phone_number">
                </div>
                <div class="row">
                   <textarea class="span10" placeholder="Text message ..." rows="5"
                             ng-model="member.text" input type="text" required>
                    </textarea>
                </div>
                <div class="row">
                    <button type="submit" ng-click="text(member.phone_number,member.text)" class="btn">Send</button>
                    <button type="submit" ng-click="cancel()" class="btn">Cancel</button>
                </div>
                <span></span>
            </form>
        </div>
    </div>
</div>
