
<div class="span2">
    Select menu action
    <ul class="nav nav-tabs nav-stacked">
        <li><a href="#/members">Members</a></li>
        <li><a href="#/groups">Farmer groups</a></li>
        <li><a href="#/smsIns">inbox</a></li>
    </ul>
</div>
