<div id="singleText" class="clearfix pull-left span12">
    <div ng-switch="mode" class="span20">
        <br>
        <div ng-switch-when="edit">
            <form id="consult">
                <div class="row">
                    <input class="span10" placeholder="Member Surname ..." type="text"
                           disabled="" ng-model="member.sur_name">
                </div>
                <div class="row">
                    <input class="span10" placeholder="Member First name ..." type="text"
                           disabled="" ng-model="member.first_name">
                </div>

                <div class="row">
                    <input class="span10" placeholder="Member Phone number ..." type="text" disabled=""
                           ng-model="member.phone_number">
                </div>
                <div class="row">
                   <textarea class="span10" placeholder="Text message ..." rows="10"
                             ng-model="member.text" required="required">
                    </textarea>
                </div>
                <div class="row">
                    <button type="submit" ng-click="save(member)" class="btn">Save</button>
                    <button type="submit" ng-click="cancel()" class="btn">Cancel</button>
                </div>
                <span></span>
            </form>
        </div>
    </div>
</div>
