<div id="smsIns" class="clearfix pull-left span12">
    <div class="span20">
        <br>
        <div class="row">
            <div class="span4 pull-left">
                Sms Send by the farmers
            </div>
            <div class="span4 pull-right">
                <input type="text" ng-model="search" class="search-query search-query-size" />
            </div>
        </div>
        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                <tr>      
                    <th>#</th>
                    <th>sender</th>
                    <th>Message</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-hide="smsIns.length">
                    <td colspan="5">No data in the database.</td>
                </tr>
                <tr ng-repeat="smsIn in smsIns | orderBy:'id':true">
                    <td><a href="#/smsIn/{{smsIn.id}}">{{(currentPage - 1) * maxSize + $index + 1}}.&nbsp;<i class=icon-eject></i></a></td>
                        <td>{{smsIn.sender}}</td>
                    <td>{{smsIn.msg}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div data-pagination="" data-num-pages="noOfPages"
             data-current-page="currentPage" data-max-size="maxSize"
             data-boundary-links="true">

        </div>
    </div>
</div>

